blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, 
input, legend, li, ol, p, pre, td, textarea, th, ul{ 
	margin: 0; 
	padding: 0; 
}
* { font-family:"Microsoft YaHei", Cambria, Arial; }
h1, h2, h3, h4, h5, h6,{font-weight:normal; font-style: normal;}
table{border-collapse:collapse; border-spacing: 0;}
ul,li,dt,dd,ol { list-style: none;}
q:before, q:after {content: '';}
input,img{border:none;}
a{text-decoration: none;}